################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EasyBus-Api.sln.ide
/packages
/dotnet.api/bin
/dotnet.api/obj
