<div class="jumbotron center">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="~/Content/BUS.png" /><br />
            <img src="~/Content/lettering.png" />
        </div>
        <div class="col-md-3 text-center">
            <div>
                <img src="~/Content/qr_code_without_logo.jpg" width="200" height="200" />
                <a href="~/Content/EasyBus-debug.apk" class="btn btn-default btn-block"><span class="glyphicon glyphicons-download-alt"></span> Baixar Android</a>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <button class="btn btn-default btn-block">Baixar IOS</button>
        </div>
    </div>
</div>
